src/test/resources/db-schema/database.xsd/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="PHOENIX_USER">
	<xsd:import namespace="PHOENIX_USER" schemaLocation="PHOENIX_USER.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="EMPLOYEE" type="dflt:EMPLOYEEType" />
				<xsd:element name="ADDRESS" type="dflt:ADDRESSType" />
				<xsd:element name="DBMAINTAIN_SCRIPTS" type="dflt:DBMAINTAIN_SCRIPTSType" />
				<xsd:any namespace="PHOENIX_USER" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
